/*----------------
    RESET
------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*----------------
    COMMONS
------------------*/

.img-fluid {
  max-width: 100%;
}

main {
  color: white;
}

.container {
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

/*----------------
    HEADER
------------------*/

header {
  padding: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

header img {
  width: 5rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0.9375rem;
}

.main-nav ul li {
  margin: 0 0.625rem;
}

.main-nav ul li a {
  text-decoration: none;
  color: #666885;
  font-weight: bold;
}

.animated-underline {
  color: #333;
  position: relative;
  display: inline-block;
  margin: 10px 0;
  transition: color 0.3s ease;
  text-emphasis: center;
}

.animated-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -54px;
  width: 0;
  height: 5px;
  background: #0282f9;
  transition: width 0.3s ease;
}

.animated-underline:hover {
  color: #0282f9;
}

.animated-underline:hover::after {
  width: 100%;
}

/*-------------
    MAIN
-------------*/

/*-------------
    SECTION HERO
-------------*/

.hero {
  height: 25rem;
  background-position: contain;
  overflow: hidden;
}

.hero img {
  width: 100%;
}

/*-------------
    SECTION FILMS
-------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.col {
  width: calc(100% / 6);
}
.card {
  height: 100%;
  padding: 10px;
}
.card img {
  max-width: 100%;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 1;
  padding-bottom: 0.625rem;
}

.films {
  background-color: #1c1c1c;
}

.btn-pos {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
}
.btn-load {
  margin: 10px 0;
  padding: 12px 40px;
  background-color: #0282f9;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: #0282f9;
}

.btn-load:hover {
  transform: scale(1.2);
  transition: 1s;
}

.btn-relativ {
  position: relative;
}
.btn-cr {
  position: absolute;
  left: 0;
  top: -30px;
  margin: 10px 0;
  padding: 12px 26px;
  background-color: #0282f9;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: #0282f9;
  width: 15rem;
}

/*----------------
    SECTION BLUE
------------------*/

main h1 {
  color: white;
}

.rowTwo {
  background-color: #0282f9;
}

.service {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-left: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-size {
  width: 3.125rem;
}

.details {
  display: flex;
  align-items: center;
}

.img-details {
  color: white;
  padding-left: 0.625rem;
}

/*----------------
    FOOTER
------------------*/

/*----------------
    FOOTER TOP
------------------*/

.footer-top {
  background-image: url(../public/img/footer-bg.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-top: 2.5rem;
  padding-bottom: 1.875rem;
}

.nav-foot {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.nav-foot div {
  width: 180px;
}

.nav-foot h3 {
  padding-bottom: 10px;
  color: white;
}

footer a {
  text-decoration: none;
  color: #808080;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7;
}

footer a:hover {
  color: white;
}

footer ul {
  list-style: none;
  padding-bottom: 20px;
}

.logo-foot {
  width: 500px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

/*----------------
    FOOTER BOTTOM
------------------*/

.back-img {
  background-image: url("/public/img/footer-bg.jpg");
  background-size: cover;
}

.footer-bottom {
  background-color: #303030;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.fot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn {
  padding: 1.125rem;
  background-color: transparent;
  border: 3px solid;
  border-color: #0282f9;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
}

.btn:hover {
  background-color: #0282f9;
  transition: 1s;
}

.fot h2 {
  color: #0282f9;
  padding-right: 1.25rem;
}

.nav-list {
  display: flex;
}

.nav-list a {
  padding-right: 1.25rem;
}

.nav-list img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
